{% load staticfiles %}

<style>

/* Center the loader */
#loader {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          width: 550px;
          height: 150px;
          margin: -75px 0 0 -75px;
          border: 16px solid #54e610;
          /* border: 16px solid #f3f3f3; */
          border-radius: 50%;
          border-top: 16px solid #3498db;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        
        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }
        
        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }
        
        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }
        
        #myDiv {
          /* display: none; */
          /* text-align: center; */
        }

 /* Dropdown Button 
 padding == padding between TEXT and Button Border
 padding shall change relative to == font-size
 */
 .dropbtn {
  background-color: rgba(175, 76, 92, 0.575);
  color: white;
  padding: 5px; 
  font-size: 15px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 0;
  
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color:  rgba(219, 23, 98, 0.966);
  color: white;
  } 


/* font_awesome custom css FOO_Hover == .font_awesome_icon_for_hover*/
.font_awesome_hover_BokehBoxPlot{
  color: rgb(235, 8, 216);
}

/* Show the dropdown menu on hover */
.font_awesome_icon_for_hover:hover .sqlConnStatus_content {
  display: block;
  margin-top: 0;
 
}


/* STARTS Modal DataSets View_for_SQL_Queries */

.modal_mainBody_dataSetsView_for_SQL_Queries{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* top:50%;
  left:50%; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  border-radius: 10px;
   /* Enable scroll if needed */
  background-color: rgba(14, 230, 219, 0.1); /* Color and  opacity */

}

/* modal_content_dataSetsView_for_SQL_Queries == Content/Box */
.modal_content_dataSetsView_for_SQL_Queries {
  position: fixed;
  width: 880px; 
  margin-left: 225px;
  margin-top: 327px;
  /* ORIGINAL MARGIN AUTO  */
  /* margin: auto; */
  /* top:50%;
  left:50%; */
  background-color: #fefefe;
  padding: 0;
  /* ORIGINAL == border: 1px solid #888; */
  border-radius: 10px;
  
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal_header_dataSetsView_for_SQL_Queries{
  padding: 2px 16px;
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
}

.modal_close_dataSetsView_for_SQL_Queries{
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.modal_close_dataSetsView_for_SQL_Queries:hover,
.modal_close_dataSetsView_for_SQL_Queries:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
} 

.modal_body_dataSetsView_for_SQL_Queries{
  padding: 2px 16px;
  /* max-height: 500px; */
}                               

.modal_footer_dataSetsView_for_SQL_Queries{
  /* padding: 2px 16px; */
  /* NOT OK == width: 880px; */
  /* background-color: rgba(13, 77, 77, 0.966); */
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
  text-align: right;
}                   


/* third_modal_bokeh_header */
.third_modal_bokeh_header{
  padding: 2px 5px;
  /* padding is distance between HEADER border and TEXT  */
  /* First padding value for TOP and BOTTOM , Second padding value for LEFT and RIGHT */
  width: 250px; 
  /* width has to be same as == modal_bokeh_content */
  height: 30px;
  font-size: 15px;
  background-color: rgba(185, 91, 204, 0.966);
  color: white;
}  
/*No--Close Button for BOKEH MODALS */


/* modal_bokeh_3_content == Content/Box */
.modal_bokeh_3_content {
  position: fixed;
  width: 250px; 
  height: 250px;
  margin-left: 820px;
  margin-top: 320px;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* modal_bokeh_3_LargeHeader */
.modal_bokeh_3_LargeHeader{
  padding: 2px 5px;
  /* padding is distance between HEADER border and TEXT  */
  /* First padding value for TOP and BOTTOM , Second padding value for LEFT and RIGHT */
  width: 680px; 
  /* width has to be same as == modal_bokeh_3_LargeContent */
  height: 30px;
  font-size: 15px;
  background-color: rgba(185, 91, 204, 0.966);
  
  color: white;
}  

/* modal_bokeh_3_LargeContent  == Content/Box */
.modal_bokeh_3_LargeContent {
  display: none; /* Hidden by default */
  position: fixed;
  width: 680px; 
  /* More WIDER than TALLER to be a HORIZONTAL TRIANGLE  */
  height: 570px;
  margin-left: 100px;
  margin-top: 50px;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/*No--Close Button for BOKEH MODALS */
.modal_footer_Bokeh_3_LargeContent{
  padding: 2px 16px;
  background-color: rgba(199, 5, 70, 0.418);
  color: white;
}  

/* font_awesome custom css FOO_Hover == .font_awesome_icon_for_hover*/
.font_awesome_hover_BokehBoxPlot{
  color: rgb(235, 8, 216);
}

/* Show the dropdown menu on hover */
.font_awesome_icon_for_hover:hover .sqlConnStatus_content {
  display: block;
  margin-top: 0;
  
}


/* fourth_modal_bokeh_header */
.fourth_modal_bokeh_header{
  padding: 2px 5px;
  /* padding is distance between HEADER border and TEXT  */
  /* First padding value for TOP and BOTTOM , Second padding value for LEFT and RIGHT */
  width: 250px; 
  /* width has to be same as == modal_bokeh_content */
  height: 30px;
  font-size: 15px;
  background-color: rgba(185, 91, 204, 0.966);
  color: white;
}  

/* modal_bokeh_4_content == Content/Box */
.modal_bokeh_4_content {
  position: fixed;
  width: 250px; 
  height: 350px;
  margin-left: 1095px;
  margin-top: 320px;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}



/* modal_alerts_backdrop === This is the SEMI-OPAQUE-BACKGROUND  */
.modal_bokeh_Tukey_backdrop{
  display: none; /* Hidden by default */
  position: fixed; /*Stay in place */
  z-index:1; /* Be On TOP of ALL other MODALS when this MODAL is ACTIVE  */
  
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  
  /* left: 0; */
  /* top: 0;
  width: 200px; 
  height: 100%;
  margin-left: 75px;
  margin-right: 75px;
      */
  overflow: auto;
   /* Enable scroll if needed */
  background-color: rgba(7, 208, 243, 0.377); /* Color and  opacity */
}

/* modal_alerts_content == Content/Box */
.modal_bokeh_Tukey_content {
  position: fixed;
  width: 250px; 
  height: 250px;
  margin-left: 1095px;
  margin-top: 50px;
  /* overflow-y: auto;  */
  /* OK == Vertical SCROLL within MODAL BODY */

  /* margin-bottom: 400px; */
  /* ORIGINAL MARGIN AUTO  */
  /* margin: auto; */
  /* top:50%;
  left:50%; */
  background-color: #fefefe;
  padding: 0;
  /* border: 10px solid rgb(201, 41, 41); */
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* modal_bokeh_Tukey_body */
.modal_bokeh_Tukey_body {
  padding: 2px 16px;
  /* max-height: 500px; */
}
  /* Modal Header */
.modal_bokeh_Tukey_header{
  padding: 2px 5px;
  /* padding is distance between HEADER border and TEXT  */
  /* First padding value for TOP and BOTTOM , Second padding value for LEFT and RIGHT */
  width: 250px; 
  /* width has to be same as == modal_bokeh_content */
  height: 30px;
  font-size: 15px;
  background-color: rgba(185, 91, 204, 0.966);
  color: white;
}  
/*No--Close Button for BOKEH MODALS */








/* modal_alerts_backdrop === This is the SEMI-OPAQUE-BACKGROUND  */
.modal_bokeh_backdrop{
  display: none; /* Hidden by default */
  position: fixed; /*Stay in place */
  z-index:1; /* Be On TOP of ALL other MODALS when this MODAL is ACTIVE  */
  
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
     
  overflow: auto;
   /* Enable scroll if needed */
  background-color: rgba(7, 117, 243, 0.377); /* Color and  opacity */
}

/* modal_alerts_content == Content/Box */
.modal_bokeh_content {
  position: fixed;
  width: 250px; 
  height: 250px;
  margin-left: 820px; 
  /* 820 earlier  */
  margin-top: 50px;
  /* overflow-y: auto;  */
  /* OK == Vertical SCROLL within MODAL BODY */

  /* margin-bottom: 400px; */
  /* ORIGINAL MARGIN AUTO  */
  /* margin: auto; */
  /* top:50%;
  left:50%; */
  background-color: #fefefe;
  padding: 0;
  /* border: 10px solid rgb(201, 41, 41); */
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* modal_alerts_body Body */
.modal_bokeh_body {
  padding: 2px 16px;
  /* max-height: 500px; */
}
  /* Modal Header */
.modal_bokeh_header{
  padding: 2px 5px;
  /* padding is distance between HEADER border and TEXT  */
  /* First padding value for TOP and BOTTOM , Second padding value for LEFT and RIGHT */
  width: 250px; 
  /* width has to be same as == modal_bokeh_content */
  height: 30px;
  font-size: 15px;
  background-color: rgba(185, 91, 204, 0.966);
  color: white;
}  

/*No--Close Button for BOKEH MODALS */










/* modal_alerts_backdrop === This is the SEMI-OPAQUE-BACKGROUND  */
.modal_alerts_backdrop{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index:1; /* Be On TOP of ALL other MODALS when this MODAL is ACTIVE  */
  
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
     
  overflow: auto;
   /* Enable scroll if needed */
  background-color: rgba(243, 82, 7, 0.377); /* Color and  opacity */
}

/* modal_alerts_content == Content/Box */
.modal_alerts_content {
  position: fixed;
  width: 300px; 
  height: 100px;
  margin-left: 1050px;
  margin-top: 570px;
  /* overflow-y: auto;  */
  /* OK == Vertical SCROLL within MODAL BODY */

  /* margin-bottom: 400px; */
  /* ORIGINAL MARGIN AUTO  */
  /* margin: auto; */
  /* top:50%;
  left:50%; */
  background-color: #fefefe;
  padding: 0;
  /* border: 10px solid rgb(201, 41, 41); */
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* modal_alerts_body Body */
.modal_alerts_body {
  padding: 2px 16px;
  /* max-height: 500px; */
}
  /* Modal Header */
.modal_alerts_header{
  padding: 2px 16px;
  background-color: rgba(243, 35, 8, 0.966);
  color: white;
}  
/* modal_content_Query_PSQL_Tables --Close Button */
.modal_alerts_close{
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
}
.modal_alerts_close:hover,
.modal_alerts_close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
} 












/* modal_outerBody_SQL_Tables_Merge === This is the SEMI-OPAQUE-BACKGROUND  */
.modal_outerBody_SQL_Tables_Merge{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index:1; /* Be On TOP of ALL other MODALS when this MODAL is ACTIVE  */
  
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
     
  overflow: auto;
   /* Enable scroll if needed */
  background-color: rgba(145, 82, 118, 0.76); /* Color and  opacity */
}

/* modal_outerBody_SQL_Tables_Merge == Content/Box */
.modal_content_SQL_Tables_Merge {
  position: fixed;
  width: 780px; 
  height: 580px;
  margin-left: 525px;
  margin-top: 40px;
  overflow-y: auto; /* OK == Vertical SCROLL within CONTENT  */

  /* margin-bottom: 400px; */
  /* ORIGINAL MARGIN AUTO  */
  /* margin: auto; */
  /* top:50%;
  left:50%; */
  background-color: #fefefe;
  padding: 0;
  /* border: 10px solid rgb(201, 41, 41); */
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* modal_content_Query_PSQL_Tables Body */
.modal_body_SQL_Tables_Merge {
  padding: 2px 16px;
  /* max-height: 500px; */
}
  /* Modal Header */
.modal_header_SQL_Tables_Merge{
  padding: 2px 16px;
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
}  
/* modal_content_Query_PSQL_Tables --Close Button */
.modal_close_SQL_Tables_Merge{
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
}
.modal_close_SQL_Tables_Merge:hover,
.modal_close_SQL_Tables_Merge:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
} 

/* modal_footer_Query_PSQL_Tables */
.modal_footer_SQL_Tables_Merge {
  padding: 2px 16px;
  /* background-color: rgba(13, 77, 77, 0.966); */
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
  text-align: right;
}








/* MODAL_Query_PSQL_Tables for _Query_PSQL_Tables === This is the SEMI-OPAQUE-BACKGROUND   */
.modal_outerBody_PSQL_ConnStatus{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Be On TOP of ALL other MODALS when this MODAL is ACTIVE  */
  
  /* top:50%;
  left:50%; */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  
   /* Full width */
   /* Full height */
  overflow: auto;
   /* Enable scroll if needed */
  background-color: rgba(14, 230, 219, 0.1); /* Color and  opacity */
}

/* modal_content_Query_PSQL_Tables == Content/Box */
.modal_content_PSQL_ConnStatus {
  position: fixed;
  width: 780px; 
  height: 580px;
  margin-left: 525px;
  margin-top: 40px;
  /* margin-bottom: 400px; */
  /* ORIGINAL MARGIN AUTO  */
  /* margin: auto; */
  /* top:50%;
  left:50%; */
  overflow-y: auto; /* OK == Vertical SCROLL within CONTENT  */
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* modal_content_Query_PSQL_Tables Body */
.modal_body_Query_PSQL_Tables {
  padding: 2px 16px;
  /* max-height: 500px; */
}
  /* Modal Header */
.modal_header_Query_PSQL_Tables{
  padding: 2px 16px;
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
}  
/* modal_content_Query_PSQL_Tables --Close Button */
.modal_close_Query_PSQL_Tables{
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
}
.modal_close_Query_PSQL_Tables:hover,
.modal_close_Query_PSQL_Tables:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
} 

/* modal_footer_Query_PSQL_Tables */
.modal_footer_Query_PSQL_Tables {
  padding: 2px 16px;
  /* background-color: rgba(13, 77, 77, 0.966); */
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
  text-align: right;
}









/* MODAL_Query_PSQL_Tables for _Query_PSQL_Tables === This is the SEMI-OPAQUE-BACKGROUND  */
.modal_mainBody_Query_PSQL_Tables{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* top:50%;
  left:50%; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
   /* Enable scroll if needed */
  background-color: rgba(14, 230, 219, 0.1); /* Color and  opacity */
}

/* modal_content_Query_PSQL_Tables == Content/Box */
.modal_content_Query_PSQL_Tables {
  position: fixed;
  width: 280px; 
  margin-left: 225px;
  margin-top: 327px;
  /* ORIGINAL MARGIN AUTO  */
  /* margin: auto; */
  /* top:50%;
  left:50%; */
  /* overflow-y: auto;  */
  /* NOT_OK == Vertical SCROLL as it HIDES -- HOVER DROP DOWN MENU */
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* modal_content_Query_PSQL_Tables Body */
.modal_body_Query_PSQL_Tables {
  padding: 2px 16px;
  /* max-height: 500px; */
}
  /* Modal Header */
.modal_header_Query_PSQL_Tables{
  padding: 2px 16px;
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
}  
/* modal_content_Query_PSQL_Tables --Close Button */
.modal_close_Query_PSQL_Tables{
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
}
.modal_close_Query_PSQL_Tables:hover,
.modal_close_Query_PSQL_Tables:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
} 

/* modal_footer_Query_PSQL_Tables */
.modal_footer_Query_PSQL_Tables {
  padding: 2px 16px;
  /* background-color: rgba(13, 77, 77, 0.966); */
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
  text-align: right;
}























/* The MODAL for modal_DropDownMenu CSS Starts Added -- 02 MARCH 19 - Dhankar */

.modal_DropDownMenu {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  /* top:50%;
  left:50%; */

  left: 0;
  top: 0;
  
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
   /* Enable scroll if needed */
  
  background-color: rgba(14, 230, 219, 0.1); /* Color and  opacity */
  

}

/* modal_DropDownMenu Content/Box */
.modal_DropDownMenu_content {
  
  position: fixed;
  width: 280px; 
  margin-left: 225px;
  margin-top: 327px;

  /* ORIGINAL MARGIN AUTO  */
  /* margin: auto; */
  
  /* top:50%;
  left:50%; */
  overflow-y: auto; /* OK == Vertical SCROLL within CONTENT  */

  background-color: #fefefe;
  
  padding: 0;
  border: 1px solid #888;
  
  /* DHANKAR In the CENTER and WIDTH as % of the SCREEN  */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

/* modal_DropDownMenu Body */
.modal_DropDownMenu_body {
  padding: 2px 16px;
  /* max-height: 500px; */
  
  
  }


/* modal_DropDownMenu --Close Button */
.modal_DropDownMenu_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal_DropDownMenu_close:hover,
.modal_DropDownMenu_close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
} 


 /* Modal Header */
 .modal_DropDownMenu_header {
  padding: 2px 16px;
  /* background-color: rgba(13, 77, 77, 0.966); */
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
}


/* Modal Footer */
.modal_DropDownMenu_footer {
  padding: 2px 16px;
  /* background-color: rgba(13, 77, 77, 0.966); */
  background-color: rgba(2, 30, 58, 0.966);
  color: white;
  text-align: right;
}

/* Modal Content */
.modal_DropDownMenu_content_NOTCHECK {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
/* @keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}  */

/* The MODAL for modal_DropDownMenu CSS ENDS Added -- 02 MARCH 19 - Dhankar */
















/* MODAL CSS Starts Added -- 01 MARCH 19 - Dhankar */

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  background-color: rgba(238, 148, 14, 0.7); /* Black w/ opacity */
}

/* Modal Content FOO_Summary Stats */
.modal-content {
  background-color: #fefefe;
  
  padding: 20px;
  border: 5px solid #888;
  
  margin-left: 235px;
  /* fixed as 235px as the LEFT SCROLL Bar Width is == 235px */
  margin-top: 80px;
  width: 850px; 
  height: 550px;
  

  overflow-y: auto; /* OK == Vertical SCROLL within CONTENT  */
  /* max-height: 500px; */
  /* width: 80%; */
   /* ORIGINAL CODE --- Could be more or less, depending on screen size  -- I have made it FIXED ---*/
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  /* max-height: 500px; */
  
  
  }


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
} 


 /* Modal Header */
 .modal-header {
  padding: 2px 16px;
  background-color: rgba(226, 21, 117, 0.966);
  color: white;
}


/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: rgba(226, 21, 117, 0.966);
  color: white;
}

/* Modal Content */
.modal-content_FOO_NOT_SUMMARY {
  position: relative;
  background-color: #fefefe;
  margin-left: 335px;
  margin-top: 50px;
  width: 680px; 
  height: 680px;
  
  /* ORIGINAL == margin: auto; */
  /* overflow-y: auto;  */
  /* OK == Vertical SCROLL within CONTENT  */
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
/* @keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}  */

/* MODAL CSS ENDS Added -- 01 MARCH 19 - Dhankar */



/* font_awesome custom css FOO_Hover */
.font_awesome_icon_for_hover{
  color: rgb(48, 124, 38);
}

/* Show the dropdown menu on hover */
.font_awesome_icon_for_hover:hover .sqlConnStatus_content {
  display: block;
  margin-top: 0;
  
}
        
/* .fa {
  color: black;
} */

</style>